.pesonal-account-payments {
  min-width: 70%;
}

.pesonal-account-banks {
  display: flex;
  min-height: 550px;
  margin: 0 0 10px 0;
}

.pesonal-account-banks__payments {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 15px 20px;
}

.pesonal-account-banks__payments-info-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.pesonal-account-banks__payments-info-user {
  margin: 0 0 15px 0;
  display: grid;
  grid-template-areas: 
    "pesonal-account-banks-one pesonal-account-banks-two"
    "pesonal-account-banks-three pesonal-account-banks-four"
    "pesonal-account-banks-five pesonal-account-banks-six";
}

.pesonal-account-banks-one {
  grid-area: pesonal-account-banks-one;
}

.pesonal-account-banks-two {
  grid-area: pesonal-account-banks-two;
}

.pesonal-account-banks-three {
  grid-area: pesonal-account-banks-three;
}

.pesonal-account-banks-four {
  grid-area: pesonal-account-banks-four;
}

.pesonal-account-banks-five {
  grid-area: pesonal-account-banks-five;
}

.pesonal-account-banks-six {
  grid-area: pesonal-account-banks-six;
}

.pesonal-account-banks__payments-info-user-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #9C9C9C;
  margin: 0 0 10px 0;
}

.font-color-dark {
  color: #000;
}

.pesonal-account-banks__payments-info-text {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 10px 0;
}

.pesonal-account-banks__payments-info-text:last-child {
  margin: 0;
}

.pesonal-account-banks__payments-info-payment-choice {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 40px 0 10px 0;
}

.pesonal-account-banks__payments-bank {
  margin: 0 0 30px 0;
}

.pesonal-account-banks__payments-bank:last-child {
  margin: 0;
}

.pesonal-account-banks__payments-bank-payment {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.pesonal-account-banks__payments-bank-text {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 20px 0;
}

.pesonal-account-banks__payments-bank-text:last-of-type {
  margin: 0;
}

.pesonal-account-banks__payments-bank-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  padding: 15px 12px;
  background-color: #4A69FF;
  border-radius: 10px;
  display: block;
  width: fit-content;
  margin: 20px auto 0;
}

.pesonal-account-banks__payments-bank-link:hover {
  opacity: .5;
}

@media screen and (max-width: 1050px) {
  .pesonal-account-banks {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .pesonal-account-banks__payments-info-user {
    display: flex;
    flex-direction: column;
  }
}