.notLogginedNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 10px;
}

.notLogginedNavigation-login-link {
  margin: 0 26px 0 0;
  display: block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}

.notLogginedNavigation-login-link:hover {
  opacity: .5;
}

.notLogginedNavigation-register-link {
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 48px;
  width: 168px;
  height: 48px;
  text-align: center;
}

.notLogginedNavigation-register-link:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .notLogginedNavigation-login-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .notLogginedNavigation-register-link {
    border-radius: 7px;
    width: 132px;
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .notLogginedNavigation {
    margin: 0 0 0 5px;
  }
  
  .notLogginedNavigation-login-link {
    margin: 0 5px 0 0;
    font-size: 10px;
    line-height: 12px;
  }

  .notLogginedNavigation-register-link {
    font-size: 10px;
    line-height: 30px;
    width: 77px;
    height: 35px;
  }
}