.buttonHelpPsych {
  background: #4A69FF;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: block;
}

.buttonHelpPsych:hover {
  opacity: .5;
}