.navigation {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px 10px 20px 20px;
  width: 226px;
  /* z-index: 55; */
}

.navigation__list-item-NavLink {
  margin: 0 0 12px 0;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.navigation__list-item-NavLink:hover {
  opacity: .5;
}

.navigation__list-item {
  margin: 0 0 12px 0;
}

@media screen and (max-width: 768px) {
  .navigation-block {
    position: fixed;
    top: 0;
    left: -140%;
    width: 100%;
    height: 100%;
    transition: left .3s ease 0s;
    overflow: auto;
    border-radius: 0;
    padding-top: 120px;
    background-color: #fff;
    z-index: 55
  }

  .navigation-block._active {
    left: 0;
  }
  .navigation__list-item-NavLink {
    font-size: 18px;
  }
  
  .navigation {
    padding-top: 0;
  }
}