.pesonal-account-info-payment-bank {
  min-width: 70%;
}

.pesonal-account-bank-name {
  display: flex;
  min-height: 550px;
  margin: 0 0 10px 0;
}

.pesonal-account-bank-name__bank-payment {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 15px 20px;
}

.pesonal-account-bank-name__bank-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.pesonal-account-bank-name__bank-info {
  display: flex;
  gap: 20px;
  margin: 0 0 30px 0;
}

.pesonal-account-bank-name__bank-info-text {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 10px 0;
}

.pesonal-account-bank-name__bank-info-text:last-child {
  margin: 0;
}

.pesonal-account-bank-name__bank-payment-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.pesonal-account-bank-name__bank-payment-text {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 30px 0;
}

.payment-label-text {
  font-size: 14px;
  line-height: 16px;
  color: #535350;
  margin: 0 0 5px 0;
}

.pesonal-account-bank-name__bank-payment-input-block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.payment-input {
  display: block;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #07406F;
  border-radius: 4px;
  width: 270px;
}

.payment-input::placeholder {
  color: #9A9A98;
}

.pesonal-account-bank-name__bank-payment-submit {
  padding: 0 16px;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  background-color: #4A69FF;
  border-radius: 4px;
  height: 32px;
}